/*设置通用样式*/
body{
    font-size:12px;
	font-family:"SimSun";
    color:#626262;
    margin:0;
    padding:0;
    background-color:#fff;

}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
	font-weight:normal;
}
/*#header{*/
/*	position:relative;*/
/*	z-index:9999;*/
/*}*/
a{
    color:#8D8D8D;
    text-decoration:none;

}
a:hover{
    color:#C57D5C;
}
img{
    vertical-align:middle;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.lf { float:left;}
.rt { float:right;}

div.main{
    width:100%;
    margin:0 auto;
}

.fixed_nav{
    background: #F5F5F5;
    position:fixed;
    z-index: 6;
    top:0;
    left:0;
    right: 0;
    width: 1000px;
    height:60px;
    background: #F5F5F5;
    transition: all 0.1s;
    padding: 5px;
    margin:0 auto;

}
