.footer-main>#footer-top{
	margin-top:0px;
	height:34px;
/*	border-top:5px solid #000;*/
/*	border-bottom:1px solid #9F9F9F;*/
/*	box-shadow:0 0 0 1px #000;*/
	background:url(../img/footer_rp.jpg) repeat-x;

}
#footer-icons{
	background-color: white;
}
#footer-icons ul{
	display:flex;
	justify-content:space-between;/**/
	/*允许换行*/
	width:1000px;
	margin:0 auto;
	padding:30px 0;
}
#footer-icons ul li a i{
	background:url(../img/icon_footer.png) repeat-x;
    display: block;
    width: 60px;
    height: 60px;
}
#footer-icons ul li a span{
    display: block;
	padding:30px 0;
}
/*图标*/
	#footer-icons ul li a i.footer-icon1{
		background-position: 0px 0px;
	}
	#footer-icons ul li a i.footer-icon2 {
		background-position: 60px 0px;
	}
	#footer-icons ul li a i.footer-icon3 {
		background-position: 120px 0px;
	}
	#footer-icons ul li a i.footer-icon4 {
		background-position: 180px 0px;
	}
	#footer-icons ul li a i.footer-icon5 {
		background-position: 240px 0px;
	}
	#footer-icons ul li a i.footer-icon6 {
		background-position: 300px 0px;
	}
	#footer-icons ul li a i.footer-icon7 {
		background-position: 360px 0px;
	}

	#footer-icons ul li a i.footer-icon1:hover{
		background-position: 0px -60px;
	}
	#footer-icons ul li a i.footer-icon2:hover {
		background-position: 60px -60px;
	}
	#footer-icons ul li a i.footer-icon3:hover {
		background-position: 120px -60px;
	}
	#footer-icons ul li a i.footer-icon4:hover {
		background-position: 180px -60px;
	}
	#footer-icons ul li a i.footer-icon5:hover {
		background-position: 240px -60px;
	}
	#footer-icons ul li a i.footer-icon6:hover {
		background-position: 300px -60px;
	}
	#footer-icons ul li a i.footer-icon7:hover {
		background-position: 360px -60px;
	}
#footer-gray{
	background-color:#e9e9e9;
	width:100%;
	height:100px;
}
#footer-gray>div{
	width:100%;
	margin:0 auto;
}
#footer-gray ul{
	display:flex;
	justify-content:space-between;
	/*允许换行*/
	width:1000px;
	margin:0 auto;
	padding:30px 0;

}
#footer-gray ul li{
    height: 39px;
    line-height: 25px;
    color: #797979;
    font-size: 18px;
    margin-right: 43px;

}
#footer-gray ul li:last-child{
    font-size: 16px;
	margin-right:0px;

}
#footer-black{
	width:100%;
	height:549px;
	background-color:#797979;
	padding:56px 0;
	font-family:"宋体";
}
#service ul{
	display:flex;
	justify-content:space-between;
	width:1000px;
	margin:0 auto;
}
#service ul li{
	height:100px;
}
#service ul li a,#service ul li h4{
    color: #cdcdcd;
    font-size: 16px;
	/*padding:3px;*/
	display:block;
	line-height:10px;
}
#service ul li h4{
	margin-bottom:15px;
}
#copyright {
	width:1000px;
	margin:10px auto;
	margin-top:70px;
    color: #cdcdcd;
	font-size: 12px;
	text-align:center;
}
#copyright p{
	padding:5px 0;
	font-family:inherit;
}
#friendshare{
	width:1000px;
	margin:0 auto;
}
#friendshare a{
	display: inline-block;
    color: #999898;
    margin: 0 2px 4px 2px;
	font-size:11px;
	font-family:inherit;
}
#friendshare a:last-child{
	display:block;
	text-align:center;
}
#friendshare span{
    color: #999898;
}
#language{
	width:100%;
	margin:0 auto;
/*	margin-left:100px;*/
	margin-top:70px;
	justify-content:center;
	display:inline-block;
	text-align:center;
	color:#cdcdcd;
	font-weight:bold;
	font-size:18px;
}
#config{
	width:100%;
	margin:20px auto;
/*	position:relative;*/
	text-align:center;
}
#language a{
	display:inline-block;
	color:#cdcdcd;
	font-weight:bold;
}
#config a img{
	display:inline-block;
/*	margin-left:540px;*/
/*	margin-top:20px;*/
	
}